<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <title>GFM Editor</title>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='notifit.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='notifit.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>

  <div class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">GFM Editor</a>
        <select id="select-notes" class="form-control" name="notes"></select>
      </div>
    </div>
  </div>

  <div class="container">

   <div id="editor-wrapper" class="row">
    <div id="editor" class="col-xs-6">
      <textarea class="col-xs-12"></textarea>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-12" id="view"></div>
    </div>
  </div>

</div><!-- /.container -->

<div id="delete" class="container">
</div>
</body>
</html>
