body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    color: #ffffff;
    background: #2f2f2f;
    padding-bottom: 50px;
}

td.line-numbers {
    display: none;
}
.gist-data {
    max-height: 600px;
}

@media (min-width: 1000px) {
    body {
        width: 1000px;
        max-width: 1000px;
        margin: 50px auto 50px auto;
        font-size: 32px;
    }
    .gist {
        font-size: 24px;
        line-height: 1.3em;
    }
}
@media (max-width: 1000px) and (min-width: 800px) {
    body {
        width: 800px;
        max-width: 800px;
        margin: 50px auto 50px auto;
        font-size: 32px;
    }
    .gist {
        font-size: 24px;
        line-height: 1.3em;
    }
}
@media (max-width: 800px) and (min-width: 600px) {
    body {
        width: 600px;
        max-width: 600px;
        margin: 50px auto 50px auto;
        font-size: 32px;
    }
    .gist {
        font-size: 24px;
        line-height: 1.3em;
    }
}
@media (max-width: 600px) {
    body {
        overflow: auto;
        word-wrap: break-word;
        font-size: 32px;
    }
    .gist {
        font-size: 16px;
        line-height: 1.3em;
    }

}
pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
h1 { font-size: 64px; line-height: 1.2em; }
h2 { font-size: 56px; line-height: 1.2em;  }
h3 { font-size: 48px; margin-left: 10px; line-height: 1.2em;  }
h4 { font-size: 40px; margin-left: 20px; line-height: 1.2em;  }
.l2 { margin-left: 10px; }
.l3 { margin-left: 20px; }
.l4 { margin-left: 30px; }
.l5 { margin-left: 40px; }
div.section {
    display: none;
    min-height: 500px;
}
img { max-width: 100%; }
a:link, a:visited { color:#12A0FF; text-decoration:none; }
a:hover { color:#FF1385; }

img.slide-prev {
    margin: 10px 0 10px 10px;
    height: 30px;
    float: left;
}
img.slide-next {
    margin: 10px 10px 10px 0;
    height: 30px;
    float: right;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#999;
}

